<app-header></app-header>
<div class="form-content">
    <form class="form" [formGroup]="signupForm" (ngSubmit)="PostData(signupForm)">
        <div class="form-head">Employee Payroll Form</div>
        <div class="row-content">
            <label for="name " class="label text">Full Name</label>
            <input type="text " formControlName="name" id="name" class="input" placeholder="Your Full Name" required
                name="name" />
        </div>

        <div class="row-content">
            <label class="label text" for="profile">Profile Image</label>
            <div class="profile-radio-content">
                <label>
                    <input type="radio" id="profile" formControlName="profilePic" name="profilePic"
                        value="../assets/profile-images/Ellipse -1.png" required />
                    <img class="profile" id="image1" src="../assets/profile-images/Ellipse -1.png" />
                </label>
                <label>
                    <input type="radio" id="profile" formControlName="profilePic" name="profilePic"
                        value="../assets/profile-images/Ellipse -2.png" required />
                    <img class="profile" id="image2" src="../assets/profile-images/Ellipse -2.png" />
                </label>
                <label>
                    <input type="radio" id="profile" formControlName="profilePic" name="profilePic"
                        value="../assets/profile-images/Ellipse -3.png" required />
                    <img class="profile" id="image3" src="../assets/profile-images/Ellipse -3.png" />
                </label>
                <label>
                    <input type="radio" id="profile" formControlName="profilePic" name="profilePic"
                        value="../assets/profile-images/Ellipse -4.png" required />
                    <img class="profile" id="image4" src="../assets/profile-images/Ellipse -4.png" />
                </label>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <div>
                <input type="radio" id="male" formControlName="gender" value="male" name="gender" />
                <label class="text" for="male">Male</label>
                <input type="radio" id="female" formControlName="gender" value="female" name="gender" />
                <label class="text" for="female">Female</label>
            </div>
        </div>

        <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div>
                <input class="checkbox" type="checkbox" id="hr" value="HR" formControlName="department"
                    name="department"/>
                <label class="text" for="hr">HR</label>

                <input class="checkbox" type="checkbox" id="sales" value="Sales" formControlName="department"
                    name="department" />
                <label class="text" for="sales">Sales</label>

                <input class="checkbox" type="checkbox" id="finance" value="Finance" formControlName="department"
                    name="department" />
                <label class="text" for="finance">Finance</label>

                <input class="checkbox" type="checkbox" id="engineer" value="Engineer" formControlName="department"
                    name="department" />
                <label class="text" for="engineer">Engineer</label>

                <input class="checkbox" type="checkbox" id="others" value="Others" formControlName="department"
                    name="department" />
                <label class="text" for="others">Others</label>
            </div>
        </div>

        <div class="row-content">
            <label class="label text" for="salary">Choose Your Salary: </label>
            <select class="input" formControlName="salary" id="salary" name="salary">
                <option disabled>Select Salary</option>
                <option *ngFor="let sal of Salary" [value]="sal">{{ sal }}</option>
            </select>
        </div>

        <div class="row-content">
            <label class="label text" for="Date">Start Date</label>
            <div>
                <!-- <input type="date" name="date" id="day" /> -->
                <select id="day" formControlName="day" name="Day">
                    <option disabled> Select Day</option>
                    <option  *ngFor="let day of Day" [value]="day">{{day}}</option>
                </select>

                <select id="month" required formControlName="month" name="Month" >
                    <option disabled> Select Month</option>
                    <option  *ngFor="let month of Month" [value]="month">{{month}}</option>
                </select>
                <select id="year" formControlName="year" name="Year">
                    <option disabled> Select Year</option>
                        <option  *ngFor="let year of Year" value={{year}}>{{year}}</option>
                </select>
            </div>
        </div>

        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea id="notes" class="textarea" formControlName="note" name="Day" placeholder="Write your text here"
                style="height: 100px">
      </textarea>
        </div>
        <div class="buttonParent">
            <a class="resetButton button cancelButton">Cancel</a>
            <div class="submit-reset">
                <button type="submit" class="button submitButton" routerLink="/dashboard" (click)="addNewEmployee()">Submit</button>
                <button type="reset" class="resetButton button">Reset</button>
            </div>
        </div>
    </form>
</div>