<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            <div class="search-box-background">
                <div class="box">
                    <img src="../assets/icons/search-30.png" alt="Search Box">
                </div>
            </div>
            Employee Details
        </div>
        <a class="add-button" Link="">
            <img src="../assets/icons/add-24px.svg" alt="Add User Logo">
            Add User
        </a>
    </div>


    <div class="table-main">

        <table id="display" class="table">
            <tr style=" background: #112538 0% 0% no-repeat padding-box;;">
                <th></th>
                <th style="color: #ffffff">Name</th>
                <th style="color: #ffffff">Gender</th>
                <th style="color: #ffffff">Department</th>
                <th style="color: #ffffff">Salary</th>
                <th style="color: #ffffff">StartDate</th>
                <th style="color: #ffffff">Actions</th>
            </tr>
            <tr>
            <td>
                <img class="profile" src="../assets/profile-images/Ellipse -3.png">

            </td>
            <td>
                Sriaknth
            </td>
            <td>Male</td>
            <td>
                <div class="dept-label">Engineer</div>
                <div class="dept-label">Others</div>
            </td>
            <td>400000</td>
            <td>16 Oct 2021</td>
            <td>
                <img alt="delete" src="../assets/icons/delete-black-18dp.svg">
                <img alt="edit" src="../assets/icons/create-black-18dp.svg">
            </td>
            </tr>

            
            <!-- Person 2 -->
            <tr>
            <td>
                <img class="profile" src="../assets/profile-images/Ellipse -2.png">

            </td>
            <td>
                Ananth
            </td>
            <td>Male</td>
            <td>
                <div class="dept-label">Engineer</div>
                <div class="dept-label">Others</div>
            </td>
            <td>400000</td>
            <td>16 Oct 2021</td>
            <td>
                <img alt="delete" src="../assets/icons/delete-black-18dp.svg">
                <img alt="edit" src="../assets/icons/create-black-18dp.svg">
            </td>
        </tr>

        <!-- Person 3 -->
        <tr>
            <td>
                <img class="profile" src="../assets/profile-images/Ellipse -4.png">

            </td>
            <td>
                  Ashish
            </td>
            <td>Female</td>
            <td>
                <div class="dept-label">HR</div>
                <div class="dept-label">Others</div>
            </td>
            <td>30000</td>
            <td>16 Oct 2021</td>
            <td>
                <img alt="delete" src="../assets/icons/delete-black-18dp.svg">
                <img alt="edit" src="../assets/icons/create-black-18dp.svg">
            </td>
        </tr>



        </table>
    </div>
</div>