<app-header></app-header>
<app-dash-board></app-dash-board>
<!-- <router-outlet></router-outlet> -->
<!-- <table tableborder=1px>  
    <tbody   >  
        <tr *ngFor="let item of user | keyvalue; let i=index">  
            <td > {{item.key}}:  :{{item.value}} </td>  
            
        </tr>  
    </tbody>  
</table>  
<div *ngFor="let item of user | keyvalue">
    Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
</div>  -->
<!-- <div *ngFor="let item of empDataList;">{{item.name}}</div> -->